<% action = track.persisted? ? track_url(track.id) : tracks_url %>
<% method = track.persisted? ? :patch : :post %>

<form action='<%= action %>' method='POST'>
  <input type='hidden' name='_method' value='<%= method %>'>
  <br>
  <%= render 'shared/form_authentication' %>
  <label for='album_selector'>Which album is this track on?</label>
  <select name='track[album_id]' id='album_selector'>
    <% album.band.albums.each do |album| %>
      <option value='<%= album.id %>'<% if album.id == track.album_id %>selected<% end %>><%= album.name %></option>
    <% end %>
  </select>
  <br><br>

  <label for='track_name'>Track title:</label>
  <input type='text' name='track[name]' value='<% track.name %>' id='track_name'>
  <br><br>
  <!-- PUT IN THE LYRICS FORM TO FILL OUT -->
  <br><br>
  <% submit_text = track.persisted? ? 'Update track info' : 'Add this track' %>
  <input type='submit' value='<%= submit_text %>'>
</form>
