<!DOCTYPE html>
<html>
<head>
  <title>MusicApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user %>
  <%= button_to "Log out", session_url, method: :delete %>
<% else %>
<!--  SIGN IN AND SIGN UP BUTTONS -->
<% end %>
<%= yield %>

</body>
</html>
